.windows-box {
  max-height: 700px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;

  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);

  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.tools-box {
  padding: 30px 25px;
  width: 98%;
  max-width: 650px;
}

.active {
  bottom: 80px;

  opacity: 1;
  visibility: visible;
}

.heading {
  padding: 0 25px;
}

.pinned-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommended-box {
  padding: 0 25px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-box {
  background-color: rgba(210, 214, 207, 0.7);
  padding: 15px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.poweroff-icon {
  font-size: 18px;
}
